{% include base_path %}

<!-- start custom head snippets -->

<!-- Default favicon from Academic Pages -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png">
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg">
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="{{ base_path }}/images/favicon-192x192.png">
<link rel="manifest" href="{{ base_path }}/images/manifest.json">
<link rel="icon" href="{{ base_path }}/images/favicon.ico">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

{% if page.mathjax %}
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      processEscapes: true,
      tags: 'all'
    },
    options: {
      skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
    }
  };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}

<!-- end custom head snippets -->
