{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <button id="theme-cycle" type="button" aria-label="Color theme: System. Switch to Light." title="Color theme: System. Switch to Light.">
              <i id="theme-icon" class="fa-solid theme-system" aria-hidden="true">
                <svg class="theme-system-glyph" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor" focusable="false">
                  <path d="M11 2a10 10 0 0 0 0 20V2Zm2-1 2.5 3.5L20 4l-.5 4.5L23 12l-3.5 3.5L20 20l-4.5-.5L13 23v-6a5 5 0 0 0 0-10V1Zm0 8a3 3 0 0 1 0 6V9Z"/>
                </svg>
              </i>
            </button>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
